{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<form method="post" action="{% url 'change_member_position' %}">
    {% csrf_token %}
    <div>
        <label>Member</label>
        <input id="member_id" type="text" name="member_id" placeholder="member id">
    </div>
    <div>
        <label>Position</label>
        <input id="position_id" name="position_id" type="text" placeholder="position id">
    </div>
    <div>
        <input type="submit" value="Update">
    </div>
</form>
{% else %}
<p>Authentication required!</p>
{% endif %}

{% endblock %}
