{% extends 'base.html' %}

{% block content %}

{% if message %}
<p>{{ message }}</p>
{% endif %}
<div class="row">
    <div class="col-md-7">
        # User
        {% if user_list %}
        <ul>
            {% for user in user_list %}
            <li><a href="{% url 'update_user_org_id' user.id %}">{{ user.username }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-5">
        # User's group
        {% if editing_user %}
        <p>{{ editing_user.username }}</p>
        {% endif %}

        {% if org_list %}
        {% for org in org_list %}
            <p>{{ org }}</p>
        {% endfor %}
        {% endif %}

        {% if org_formset %}
        <form action="" method="post">
            {% csrf_token %}

            {{ user_form.as_p }}

            {% if org_formset.non_form_errors %}
            {% for error in org_formset.non_form_errors %}
            {{ error|escape }}
            {% endfor %}
            {% endif %}

            {{ org_formset.management_form }}

            {% for org_form in org_formset %}
            <div class="form-group">
                {{ org_form.name.label_tag }} {{ org_form.name }}
                {% if org_form.name.errors %}
                {% for error in org_form.name.errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                <input type="submit" value="Update Profile" class="btn btn-primary"/>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}